# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Lists popular languages in Data Science
- Lists commonly used libraries in Data Science
- Perform arithmetic operations
- Create single column table
- Convert minutes to hours

## Author 
Anusha Achuthan

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-Learn
3. Sci-Py
4. Matplotlib

|Data Science Tools|
| ------ |
|Apache Spark|
|RStudio|
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hour = min/60
print("Hour is:", hour)

Hour is: 3.3333333333333335